
<div id="home_container">
  <%= render :partial => "shared/sidemenu" %>
  <div id="main_container">

    <h5>さくらぼ管理画面へようこそ</h5>
    <p>これはテスト文章です。これはテスト文章です。これはテスト文章です。これはテスト文章です。これはテスト文章です。</p>

    <div class="row main_sun_content">
      <div class="col s6">
        <div class="box_notice notice">
          <li>notice 1</li>
          <li>notice 2</li>
          <li>notice 3</li>
        </div>
      </div>
      <div class="col s6">
        <div class="box_update update">
          <li>Update 1</li>
          <li>Update 2</li>
          <li>Update 3</li>
        </div>
      </div>
    </div>

  </div>

</div>

