
<div id="home_container">
  <%= render :partial => "shared/sidemenu" %>

  <div id="main_container">
    <p>You are logged in as <%= @user_id %>!</p>
    <p>ここに何かメインのコンテンツを持ってくる。</p>
  </div>

</div>