<h1>Sakurabo Home Page</h1>
<p>Signed in as <%= @user_email %></p>

<ul>
  <li><%= link_to 'Japanese Quiz', japanese_quiz_url %></li>
  <li><%= link_to 'Report', report_url %></li>

</ul>

<%= link_to 'Logout', destroy_user_session_url %>
