<h1>Sakurabo Home Page</h1>
<p>Signed in as <%= @user_email %></p>

<ul>
  <li><%= link_to 'Weekly Lesson Report', report_url %></li>
  <li>Lesson curriculum</li>
  <li>Contact</li>
</ul>

<%= link_to 'Logout', destroy_user_session_url %>
