
<div id="home_container">
  <%= render :partial => "shared/sidemenu" %>
  <div id="main_container">
    <center><%= image_tag("sakurabo_home.jpg", :size=>"600x390", :class=>" responsive-img home_img") %></center>
    
    <div class="row">

      <div class="col s4">
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
  </div>

</div>

