<div class="side_menu">
  <div class="brand_view">
    <center><%= image_tag("sakurabo.png", :size => "50x50", :class => "brand_logo") %></center>
    <center><h5>さくらぼ</h5></center>
  </div>
  <BR/>
  <ul>
    <a href="/">
      <li class="home">Home</li>
    </a>
    <a href="/report">
      <li class="report">Daily Report</li>
    </a>
    <!--
    <a href="/curriculum">
      <li class="plan">Curriculum & Progress</li>
    </a>
    -->
    <a href="/">
      <li class="message">Message</li>
    </a>
    <div class="divider"></div>
    <BR>
    <p><i>Logged in as <%= @user_name %></i></p>
    <a href="users/sign_out">
      <li class="logout">logout</li>
    </a>
  </ul>

</div>


