<% if user_signed_in? && current_user.id == @report.user_id %>
    <h1>Report Page</h1>
    Date: <%= @report.created_at %>
    <BR/>
    Title: <%= @report.title %>
    <BR/>
    Content: <%= @report.content %>
    <BR/>

    <BR/>
    <%= link_to 'Home Page', static_pages_home_url %>
<% end %>
