// Place all the styles related to the curriculum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#curriculum_container{
  margin-left:300px;
  margin-top:60px;
  background: #fff;
  padding:5px 0px 30px 40px;
}

#curriculum_container .summary{
  margin-bottom:60px;

}