// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#report_main{
  margin-left:300px;
  margin-top:60px;
  padding:0px 0px 40px 40px;
}

#past_reports_container{
  margin-top: 100px;
}

.block {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 50px #ddd inset;
  -moz-box-shadow: 0 0 50px #ddd inset;
  -webkit-box-shadow: 0 0 50px #ddd inset;
}
