// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main_container{
  background: #fff;
  margin-left:300px;
  padding:5px 0px 40px 40px;
  margin-top: 60px;
  width: 800px;
}

.brand_view{
  margin-top:20px;
}

.home_img {
  border: 5px solid #e6e6e6 ;
  background: #fff ;
}

.main_sun_content{
  margin-top:30px;
}

.main_sun_content h5{
}

.box_update,.box_notice {
  border: 2px solid #da4033;
  border-radius: 4px;
  margin: 2em 0;
  padding: 2em;
  position: relative;
}

.box_update::before {
  background-color: #fff;
  color: #da4033;
  content: "UPDATE";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
}

.box_notice::before {
  background-color: #fff;
  color: #da4033;
  content: "NOTICE";
  font-weight: bold;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
}

#main_container h5 {
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid #ccc;
}

#main_container h5::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 20%;
  height: 4px;
  background-color: #da4033;
}

.side_menu {
  height:100%;
  width: 300px;
  border-right: solid 1.5px #F7F7F7;
  margin-top:-40px;
  padding-left:20px;
  padding-right:20px;
  position: fixed;
  z-index: 20;
  a{
    color: #666666;
  }
  ul{
    list-style-type:none;
  }
  .menu_text{
    font-size:1.10em;
    padding-left:10px;
  }
  li{
    padding-left: 50px;
    margin-bottom:15px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:1.15em;
    background-position:0px 4px;
  }
  li:hover{
    background-color: #fff0f2;
    border-radius: 5%;
    text-decoration: none;
  }
  .home{
    background-image:url("home.png");
    background-size: 15%;
    background-repeat:no-repeat;
  }
  .message{
    background-image:url("mail.png");
    background-size: 15%;
    background-repeat:no-repeat;
  }
  .logout{
    background-image:url("logout.png");
    background-size: 15%;
    background-repeat:no-repeat;
  }
  .plan{
    background-image:url("progress.png");
    background-size: 15%;
    background-repeat:no-repeat;
  }
  .report{
    background-image:url("report.png");
    background-size: 15%;
    background-repeat:no-repeat;
  }

}

